/* ------ Color Styles ------- */
:root{
  --primary-color: teal;
  --sec-color: turquoise;
  --grey-color: #ddd;
  --err-color: red;
}


/* ------ Reset Styles ------- */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font-size: 'Raleway' sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

/* ---------- Navbar Styles --------- */
.navMain{
  background-color: var(--primary-color);
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  padding: .5rem 8rem;
}
.navMain a{
  color: #fff;
}
.logo{
  padding: 1rem;
}
.nav__list{
  display: flex;
  justify-content: space-around;
}
.nav__list-item{
  padding: 1rem;
  color: #fff;
}
.nav__list-item:hover{
  background-color: var(--sec-color);
}

/* ------ Search Styles ------- */
.search{
  padding: .5rem 9rem;
  margin: 5rem 0;
  font-size: 1.8rem;
  text-align: center;
}
.search__title{
  color: var(--primary-color);
}
.search__form input{
  margin-top: 2rem;
  border: 1px solid var(--primary-color);
  padding: .9rem;
  width: 30%;
  border-radius: 10px 0 0 10px;
  outline: none;
  box-shadow: 0 .1rem .9rem .2rem rgba(0,0,0,.1) inset;
}


/* ------ Users Styles ------- */
.users{
  background: var(--grey-color);
  padding: 3rem 9rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 5rem;
}
.users__card{
  background-color: #fff;
  border-radius: .5rem;
  height: 36rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
  text-align: center;
  position: relative;
}
.users__avatar img{
  height: 10rem;
  border-radius: 50%;
  border: .3rem solid var(--primary-color);
  margin: .5rem 0;
}
.users__name{
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 700;
  margin: .5rem 0;
}
.users__desc{
  margin: .5rem 0;
  font-size: 1.4rem;
  text-align: start;
  height: 10rem;
}
.users__stars{
  left: 1rem;
}
.users__stars i{
  margin-right: .2rem;
}
.users__followers{
  right: 1rem;
}



/* ------ Ultility Styles ------- */
.error{
  color: var(--err-color);
  font-size: 12px;
}
.btn{
  border: none;
  padding: 1rem;
  background-color: var(--primary-color);
  color: #fff;
}
.btn-search{
  border-radius: 0 10px 10px 0;
  outline: none;
}
.btn:hover{
  background-color: var(--sec-color);
  cursor: pointer;
}
.btn-link{
  width: 100%;
  margin: 1rem 0;
}
.tab{
  position: absolute;
  top: 1rem;
  padding: .5rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 10rem;
}