/* ------ Color Styles ------- */
:root{
  --primary-color: teal;
  --sec-color: turquoise;
  --err-color: red;
}


/* ------ Reset Styles ------- */
*,
*::before,
*::after{
  margin: 0;
  padding: 0
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  box-sizing: inherit;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

/* ---------- Navbar Styles --------- */
nav{
  background-color: var(--primary-color);
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  padding: .5rem 8rem;
}
nav a{
  color: #fff;
}
.logo{
  padding: 1rem;
}
.nav__list{
  display: flex;
  justify-content: space-around;
}
.nav__list-item{
  padding: 1rem;
  color: #fff;
}
.nav__list-item:hover{
  background-color: var(--sec-color);
}

/* ------ Search Styles ------- */
  .search{
    padding: .5rem 9rem;
    margin: 5rem 0;
    font-size: 1.8rem;
    text-align: center;
  }


/* ------ Error Styles ------- */
.error{
  color: var(--err-color);
  font-size: 12px;
}